<a class="task-o-logo-link" href="/{{id}}/home">
    <div class="task-o-logo-border">
        <h1 class="task-o-logo">T A S K - O</h1>
    </div>
</a>

<div class="row">
    <div class="column">
        <h2 class="column-title">TODO</h2>
        {{#each column0}}
                <a href="/" class="tasks-link">
                    <div class="tasks-container">
                        <div class="tasks-summary">
                            <h3 class='tasks-title'>{{name}}</h3>
                            <h4 class='tasks-date'>{{creation_date}}</h4>
                        </div>
                    </div>
                </a>
        {{/each}}
    </div>

    <div class="column">
        <h2 class="coloumn-title">DOING</h2>
        {{#each column1}}
                <a href="/" class="tasks-link">
                    <div class="tasks-container">
                        <div class="tasks-summary">
                            <h3 class='tasks-title'>{{name}}</h3>
                            <h4 class='tasks-date'>{{creation_date}}</h4>
                        </div>
                    </div>
                </a>
        {{/each}}
    </div>

    <div class="column">
        <h2 class="coloumn-title">DONE</h2>
        {{#each column2}}
                <a href="/" class="tasks-link">
                    <div class="tasks-container">
                        <div class="tasks-summary">
                            <h3 class='tasks-title'>{{name}}</h3>
                            <h4 class='tasks-date'>{{creation_date}}</h4>
                        </div>
                    </div>
                </a>
        {{/each}}
    </div>
</div>